
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    padding: 20px;
}

.fruit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.fruit section {
    padding: 15px;
}

.fruit section:nth-child(odd) {
    background: #fef4e7; 

.fruit section:nth-child(even) {
    background: #eaf7ff;  
}


.fruit-heading {
    font-size: 20px;
    margin-bottom: 10px;
    color: #222;
}

.fruit-img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 10px auto;
}

.fruit-description {
    font-size: 15px;
    color: #444;
    text-align: justify;
    line-height: 1.4;
}
